[log]
; enabled = false
; wait = true

[exception]
; RA2 movies + .wav or .ogg
0=movies01.mix
1=movies02.mix
; RA2YR movies + .wav or .ogg
2=movmd03.mix

[movies01]
westlogo.bik = BinkWAV\RA2\westlogo.wav
a00_f00e.bik = BinkWAV\RA2\a00_f00e.wav
a01_f00e.bik = BinkWAV\RA2\a01_f00e.wav
a01_p01e.bik = BinkWAV\RA2\a01_p01e.wav
a01_p02e.bik = BinkWAV\RA2\a01_p02e.wav
a01_p03e.bik = BinkWAV\RA2\a01_p03e.wav
a02_f00e.bik = BinkWAV\RA2\a02_f00e.wav
a02_p01e.bik = BinkWAV\RA2\a02_p01e.wav
a02_p02e.bik = BinkWAV\RA2\a02_p02e.wav
a03_f00e.bik = BinkWAV\RA2\a03_f00e.wav
a03_p01e.bik = BinkWAV\RA2\a03_p01e.wav
a04_f00e.bik = BinkWAV\RA2\a04_f00e.wav
a04_f03e.bik = BinkWAV\RA2\a04_f03e.wav
a04_p01e.bik = BinkWAV\RA2\a04_p01e.wav
a04_p02e.bik = BinkWAV\RA2\a04_p02e.wav
a05_f00e.bik = BinkWAV\RA2\a05_f00e.wav
a05_p01e.bik = BinkWAV\RA2\a05_p01e.wav
a05_p02e.bik = BinkWAV\RA2\a05_p02e.wav
a05_p03e.bik = BinkWAV\RA2\a05_p03e.wav
a06_f00e.bik = BinkWAV\RA2\a06_f00e.wav
a06_p01e.bik = BinkWAV\RA2\a06_p01e.wav
a06_p02e.bik = BinkWAV\RA2\a06_p02e.wav
a07_f00e.bik = BinkWAV\RA2\a07_f00e.wav
a07_p01e.bik = BinkWAV\RA2\a07_p01e.wav
a08_f00e.bik = BinkWAV\RA2\a08_f00e.wav
a08_p01e.bik = BinkWAV\RA2\a08_p01e.wav
a08_p02e.bik = BinkWAV\RA2\a08_p02e.wav
a09_f00e.bik = BinkWAV\RA2\a09_f00e.wav
a09_p01e.bik = BinkWAV\RA2\a09_p01e.wav
a10_f00e.bik = BinkWAV\RA2\a10_f00e.wav
a10_p01e.bik = BinkWAV\RA2\a10_p01e.wav
a10_p02e.bik = BinkWAV\RA2\a10_p02e.wav
a11_f00e.bik = BinkWAV\RA2\a11_f00e.wav
a11_p01e.bik = BinkWAV\RA2\a11_p01e.wav
a11_p02e.bik = BinkWAV\RA2\a11_p02e.wav
a11_p03e.bik = BinkWAV\RA2\a11_p03e.wav
a12_f00e.bik = BinkWAV\RA2\a12_f00e.wav
a12_p01e.bik = BinkWAV\RA2\a12_p01e.wav
a12_p02e.bik = BinkWAV\RA2\a12_p02e.wav
a13_f00e.bik = BinkWAV\RA2\a13_f00e.wav
a13_f01e.bik = BinkWAV\RA2\a13_f01e.wav
a13_f02e.bik = BinkWAV\RA2\a13_f02e.wav

[movies02]
s01_f00e.bik = BinkWAV\RA2\s01_f00e.wav
s01_p01e.bik = BinkWAV\RA2\s01_p01e.wav
s02_f00e.bik = BinkWAV\RA2\s02_f00e.wav
s02_p01e.bik = BinkWAV\RA2\s02_p01e.wav
s02_p02e.bik = BinkWAV\RA2\s02_p02e.wav
s02_p03e.bik = BinkWAV\RA2\s02_p03e.wav
s03_f00e.bik = BinkWAV\RA2\s03_f00e.wav
s03_p01e.bik = BinkWAV\RA2\s03_p01e.wav
s04_f00e.bik = BinkWAV\RA2\s04_f00e.wav
s04_p01e.bik = BinkWAV\RA2\s04_p01e.wav
s04_p02e.bik = BinkWAV\RA2\s04_p02e.wav
s05_f00e.bik = BinkWAV\RA2\s05_f00e.wav
s05_p01e.bik = BinkWAV\RA2\s05_p01e.wav
s05_p02e.bik = BinkWAV\RA2\s05_p02e.wav
s06_f00e.bik = BinkWAV\RA2\s06_f00e.wav
s06_p01e.bik = BinkWAV\RA2\s06_p01e.wav
s06_p02e.bik = BinkWAV\RA2\s06_p02e.wav
s06_p03e.bik = BinkWAV\RA2\s06_p03e.wav
s07_f00e.bik = BinkWAV\RA2\s07_f00e.wav
s07_p01e.bik = BinkWAV\RA2\s07_p01e.wav
s07_p02e.bik = BinkWAV\RA2\s07_p02e.wav
s08_f00e.bik = BinkWAV\RA2\s08_f00e.wav
s08_p01e.bik = BinkWAV\RA2\s08_p01e.wav
s09_f00e.bik = BinkWAV\RA2\s09_f00e.wav
s09_p01e.bik = BinkWAV\RA2\s09_p01e.wav
s10_f00e.bik = BinkWAV\RA2\s10_f00e.wav
s10_p01e.bik = BinkWAV\RA2\s10_p01e.wav
s10_p02e.bik = BinkWAV\RA2\s10_p02e.wav
s10_p03e.bik = BinkWAV\RA2\s10_p03e.wav
s11_f00e.bik = BinkWAV\RA2\s11_f00e.wav
s11_p01e.bik = BinkWAV\RA2\s11_p01e.wav
s11_p03e.bik = BinkWAV\RA2\s11_p03e.wav
s11_p04e.bik = BinkWAV\RA2\s11_p04e.wav
s12_f00e.bik = BinkWAV\RA2\s12_f00e.wav
s12_p01e.bik = BinkWAV\RA2\s12_p01e.wav
s13_f00e.bik = BinkWAV\RA2\s13_f00e.wav
s13_f01e.bik = BinkWAV\RA2\s13_f01e.wav

[movmd03]
a00_f00e.bik = BinkWAV\RA2YR\a00_f00e.wav
a01_f00e.bik = BinkWAV\RA2YR\a01_f00e.wav
a01_f04e.bik = BinkWAV\RA2YR\a01_f04e.wav
a01_p01e.bik = BinkWAV\RA2YR\a01_p01e.wav
a01_p02e.bik = BinkWAV\RA2YR\a01_p02e.wav
a01_p03e.bik = BinkWAV\RA2YR\a01_p03e.wav
a02_f00e.bik = BinkWAV\RA2YR\a02_f00e.wav
a02_p01e.bik = BinkWAV\RA2YR\a02_p01e.wav
a02_p02e.bik = BinkWAV\RA2YR\a02_p02e.wav
a02_p03e.bik = BinkWAV\RA2YR\a02_p03e.wav
a03_f00e.bik = BinkWAV\RA2YR\a03_f00e.wav
a03_p01e.bik = BinkWAV\RA2YR\a03_p01e.wav
a03_p02e.bik = BinkWAV\RA2YR\a03_p02e.wav
a03_p03e.bik = BinkWAV\RA2YR\a03_p03e.wav
a03_p04e.bik = BinkWAV\RA2YR\a03_p04e.wav
a04_f00e.bik = BinkWAV\RA2YR\a04_f00e.wav
a04_f02e.bik = BinkWAV\RA2YR\a04_f02e.wav
a04_p01e.bik = BinkWAV\RA2YR\a04_p01e.wav
a04_p03e.bik = BinkWAV\RA2YR\a04_p03e.wav
a05_f00e.bik = BinkWAV\RA2YR\a05_f00e.wav
a05_p01e.bik = BinkWAV\RA2YR\a05_p01e.wav
a05_p02e.bik = BinkWAV\RA2YR\a05_p02e.wav
a05_p03e.bik = BinkWAV\RA2YR\a05_p03e.wav
a06_f00e.bik = BinkWAV\RA2YR\a06_f00e.wav
a06_p01e.bik = BinkWAV\RA2YR\a06_p01e.wav
a06_p03e.bik = BinkWAV\RA2YR\a06_p03e.wav
a06_p04e.bik = BinkWAV\RA2YR\a06_p04e.wav
a07_f00e.bik = BinkWAV\RA2YR\a07_f00e.wav
a07_p01e.bik = BinkWAV\RA2YR\a07_p01e.wav
a07_p02e.bik = BinkWAV\RA2YR\a07_p02e.wav
a08_f00e.bik = BinkWAV\RA2YR\a08_f00e.wav
s01_f00e.bik = BinkWAV\RA2YR\s01_f00e.wav
s01_p01e.bik = BinkWAV\RA2YR\s01_p01e.wav
s01_p02e.bik = BinkWAV\RA2YR\s01_p02e.wav
s01_p03e.bik = BinkWAV\RA2YR\s01_p03e.wav
s02_f00e.bik = BinkWAV\RA2YR\s02_f00e.wav
s02_p01e.bik = BinkWAV\RA2YR\s02_p01e.wav
s03_f00e.bik = BinkWAV\RA2YR\s03_f00e.wav
s03_p01e.bik = BinkWAV\RA2YR\s03_p01e.wav
s03_p02e.bik = BinkWAV\RA2YR\s03_p02e.wav
s03_p03e.bik = BinkWAV\RA2YR\s03_p03e.wav
s04_f00e.bik = BinkWAV\RA2YR\s04_f00e.wav
s04_p01e.bik = BinkWAV\RA2YR\s04_p01e.wav
s04_p02e.bik = BinkWAV\RA2YR\s04_p02e.wav
s04_p03e.bik = BinkWAV\RA2YR\s04_p03e.wav
s05_f00e.bik = BinkWAV\RA2YR\s05_f00e.wav
s05_p01e.bik = BinkWAV\RA2YR\s05_p01e.wav
s05_p02e.bik = BinkWAV\RA2YR\s05_p02e.wav
s06_f00e.bik = BinkWAV\RA2YR\s06_f00e.wav
s06_p01e.bik = BinkWAV\RA2YR\s06_p01e.wav
s06_p02e.bik = BinkWAV\RA2YR\s06_p02e.wav
s07_f00e.bik = BinkWAV\RA2YR\s07_f00e.wav
s07_p01e.bik = BinkWAV\RA2YR\s07_p01e.wav
s07_p02e.bik = BinkWAV\RA2YR\s07_p02e.wav
s08_f00e.bik = BinkWAV\RA2YR\s08_f00e.wav

[audio]
; Global fallback
